h1 {
  font-size: 25px;
  margin: 20px 20px;
  font-weight: 200;
}

section {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 200;
}

a {
  padding-right: 10px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
